* {box-sizing: border-box; outline: none; }

html {
    --color: #333;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    color: var(--color);
}

h1, h2, h3 {
    font-family: "Poiret One";
    text-align: center;
    color: white;
}

h1 {
    font-size: 600%;
}
h2 {
    font-size: 500%;
    margin-bottom: 20px;
    margin-top: 0;
}

hr {
    width: 50%;
    border: none;
    border-bottom: 1px solid #aaa;
    display: block;
}

.emojione {
    font-size: inherit;
    height: 3ex;
    width: 3.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
}

img.emojione {
    width: auto;
}

.hidden {
    display: none;
}
